@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>VisualCaptcha.Net.Mvc5</h1>
	<p class="lead">A configurable captcha solution, focusing on accessibility & simplicity whilst maintaining security.</p>
	<p><a href="http://visualcaptcha.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

	@using(Html.BeginForm("Try","Home"))
	{
		<div id="captcha"></div>
		<button>Submit</button>
	}
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Live Demo</h2>
		<p>
			Lorem Ipsum
		</p>
		<p><a class="btn btn-default" href="#">Demo &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Dolor Sit Amet</h2>
		<p>Lorem Ipsum</p>
		<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>ABC</h2>
		<p>xyz.</p>
		<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
	</div>
</div>

